<button (click)="returnSection()" class="btn btn-primary">Back to Sections</button>
<div class="card section-details-card">
  <div class="card-body">
    <h5 class="card-title">{{sectionObject?.sectionName}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Floor: {{sectionObject?.sectionFloor}}</h6>
    <p class="card-text">Id: {{sectionObject?.id}}</p>
    <p class="card-text">Description: {{sectionObject?.sectionDescription}}</p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-6 col-sm-12 d-flex justify-content-center w-50">
    <div class="card tasks-card">
      <div class="card-body">
        <h5 class="card-title text-center mb-3">
          Tasks
        </h5>
        @if(sectionsService.getTasks().length === 0) {
          <p class="text-center">No tasks</p>
        }
        <ul class="list-unstyled">
          @for(task of sectionsService.getTasksBySection(this.sectionObject?.id || 1); track task.id ) {
            @if(task.status === 'incomplete') {
              <li class="mb-2 px-3">{{task.text}} <button (click)="markComplete(task.id)" class="btn btn-sm btn-success ms-3">Complete</button> </li>
            } @else if(task.status === 'removing') {
              <li class="mb-2 px-3 fade-out">{{task.text}} <button (click)="markComplete(task.id)" disabled class="btn btn-sm btn-success ms-3">Complete</button> </li>
            }
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 d-flex justify-content-center">
    <div class="card tasks-card">
      <div class="card-body">
        <h5 class="card-title text-center mb-3">
          Recurring Tasks
        </h5>
        @if(sectionsService.getTasks().length === 0) {
          <p class="text-center">No tasks</p>
        }
        <ul class="list-unstyled">
          @for(task of sectionsService.getTasksBySection(this.sectionObject?.id || 1, true); track task.id ) {
            @if(task.status === 'incomplete') {
              <li class="mb-2 px-3">{{task.text}} <button (click)="markComplete(task.id)" class="btn btn-sm btn-success ms-3">Complete</button>
                <p class="frequency-text">Repeat every {{task.frequency}} days</p>
              </li>
            } @else if(task.status === 'removing') {
              <li class="mb-2 px-3 fade-out">{{task.text}} <button (click)="markComplete(task.id)" disabled class="btn btn-sm btn-success ms-3">Complete</button>
                <p class="frequency-text">Repeat every {{task.frequency}} days</p>
               </li>
            }
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col-md-12">
    <form [formGroup]="taskForm" (ngSubmit)="taskSubmit()">
      <div class="mb-3">
        <label for="section-id">Section id</label>
        <input class="form-control" disabled id="task-name" value="{{sectionObject?.id}}"/>
      </div>
      <div class="mb-3">
        <label for="task-name">Task Name</label>
        <input class="form-control" formControlName="taskName" id="task-name"/>
      </div>
      <div class="mb-3">
        <p class="form-label">Recurring?</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="yes" formControlName="recurring" name="recurring" value="yes"/>
          <label for="yes">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="no" formControlName="recurring" name="recurring" value="no"/>
          <label for="no">No</label>
        </div>
      </div>
      @if(showIntervalField) {
        <div class="mb-3">
          <label for="task-interval">Task Interval (Days)</label>
          <input class="form-control" formControlName="interval" id="task-name"/>
        </div>
      }
      <div class="d-flex justify-content-center">
        <button [disabled]="!this.taskForm.valid" type="submit" class="btn btn-primary">Add Task</button>
      </div>
    </form>
  </div>
</div>