<div class="row mx-md-5">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sections</h5>
        <p class="card-text">Tasks: {{this.sectionsServce.getTasks().length}} </p>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tasks Today</h5>
        <p class="card-text">Tasks: {{counter}} </p>
        <button (click)="incrementCounter()" class="btn btn-primary">Increment Tasks</button>
      </div>
    </div>
  </div>
</div>